/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&display=swap');

/*  color options: 
    #eeaeca - pink
    #94bbe9 - blue

    #8800C7 - dark purple
    #A44CD3 - medium pruple
    #E090DF - light purple 
    #FBBEDE - lavender pink
*/

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    align-items: center;
}

/* Form */
.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #8800C7, #A44CD3);
    color: #fff;
    width: 600px;
    height: 400px;
    margin: auto;
}

.input-wrapper {
    width: 80%;
}

.input-wrapper > label, input {
    display: flex;
}

#message-box {
    display: block;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    outline: none;
}

/* button */
.send-button {
    background: none;
    background-color: #FBBEDE;
    color: #000;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 5px;
    padding: 13px 20px;
    font-size: 16px;
    border: 1px solid transparent;
    transition: all 0.4s;
}

.send-button:hover {
    color: #000;
    border: 1px solid black;
    background-color: #f383bd;
}

/* footer */
#footer {
    display: block;
    position: fixed;
    bottom: 4px;
    right: 10px;
    cursor: pointer;
    border-bottom: solid 1px transparent;
    transition: all 0.3s;
}

#footer:hover {
    border-bottom: 1px solid black;
}

#footer > a {
    text-decoration: none;
    color: #000;
}